{
    "extends": ["@trainscoding/eslint-config", "plugin:@typescript-eslint/eslint-recommended"],
    "plugins": ["@typescript-eslint", "prettier"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module"
    }
}
