# Node & npm
node_modules/
.npm/
dist
lib
# Only allow lib folders from packages directoyry
!packages/*/lib

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Environment files
.env
.env*

# Misc.
.vscode

# OS-specific files
.DS_Store

# tests
coverage
